body {
	background-color: black;
	height: 100%;
}


/* media queries for positioning of background image at different viewport widths */
@media (min-width: 1585px) {
	body {
		background-image: url("../images/lightwave-xxl.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

@media (min-width: 1221px) {
	body {
		background-image: url("../images/lightwave-xl.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}
@media (min-width: 1015px) {
	body {
		background-image: url("../images/lightwave-l.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

@media (min-width: 805px) {
	body {
		background-image: url("../images/lightwave-m.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

@media (min-width: 641px) {
	body {
		background-image: url("../images/lightwave-s.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

@media (max-width: 640px) and (min-width: 576px) {
	body {
		background-image: url("../images/lightwave-xs.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

/* font styling */
h1, h2, h3, h4, h5 {
	font-family: 'Roboto', sans-serif;
}

p {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, p {
	font-weight: lighter;
}

.link-color {
	color: #c20bdb;
}
/* Call the onLoad animation for the header section*/
@keyframes onLoad {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
.header {
	animation: 5.5s linear 0s 1 onLoad;
	margin-bottom: -60px !important;
}


/* animation on scroll for about, portfolio, contact sections*/
.section {
	opacity:0;
	transition: ease-out 1.5s 1.25s;
}
.section.visible {
	opacity:1;
}


/* set image sizes */
.header-img {
	width: 39vmax;
	height: auto;
}

.placeholder-img {
	width: 290px;
	height: auto;
}
.portfolio-button {
	color: white !important;
}
.portfolio-button a:hover {
	background-color: #f4d510;
	color: black !important;
}

/* modal styling*/
#exampleModalLongTitle {
	font-family: 'Open Sans', sans-serif;
}

.modal-image {
	width: 100%;
	height: auto;
}

.modal-text {
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
}

/* adjust alignment issues on smallest viewport sizes where pure bootstrap is insufficient */
@media (max-width: 576px) {
	.placeholder-img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.portfolio-button {
		display: grid;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}
	.text-left {
		//*text-align: justify !important;*/
	}
	.header-img {
		max-width: 100%;
		width: 39vmax;
		height: auto;
	}
	.header-display {
		display: inline-table !important;
	}

}

/* adjust header image sizing where pure bootstrap is insufficient for large viewports */
@media (min-width: 992px) {
	.header-img {
		width: 33vmax;
		height: auto;
	}

}


/* make google recaptcha responsive */
.g-recaptcha iframe {
	max-width: 100% !important;
	transform:scale(0.77) !important;
	-webkit-transform:scale(0.77) !important;
	transform-origin: left !important;
	-webkit-transform-origin: left !important;
	margin-left:0px;
	padding-right: 10px;
}
#rc-imageselect {
	transform:scale(0.77) !important;
	-webkit-transform:scale(0.77) !important;
	transform-origin:0 0 !important;
	-webkit-transform-origin:0 0 !important;
}
