body {
	background-color: black;
}

h1, h2, h3, h4, h5 {
	font-family: 'Roboto', sans-serif;
}

p {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, p {
	font-weight: lighter;
}


/* Call the onLoad animation for the header section*/
@keyframes onLoad {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
.header {
	animation: 5.5s linear 0s 1 onLoad;
	margin-bottom: -60px !important;
}


/* animation on scroll for about, portfolio, contact sections*/
.section {
	opacity:0;
	transition: ease-out 2.5s 1.5s;
}
.section.visible {
	opacity:1;
}


.header-img {
	width: 600px;
	height: auto;
}

.placeholder-img {
	width: 290px;
	height: auto;
}

/*.about {
	border: 2px dotted red;
}

.portfolio {
	border: 1.5px solid yellow;
}

.contact {
	border: 2px dotted deeppink;
}*/


/* make google recaptcha responsive */
.g-recaptcha iframe {
	max-width: 100% !important;
	transform:scale(0.77) !important;
	-webkit-transform:scale(0.77) !important;
	transform-origin: left !important;
	-webkit-transform-origin: left !important;
	margin-left:0px;
	padding-right: 10px;
}
#rc-imageselect {
	transform:scale(0.77) !important;
	-webkit-transform:scale(0.77) !important;
	transform-origin:0 0 !important;
	-webkit-transform-origin:0 0 !important;
}
