body {
	background-color: #191919;
}


h3, h5, p {
	font-weight: lighter;
}

.animated {
	animation-duration: 2s;
	animation-delay: 1s;
}

.section {
	opacity:0;
	transform: translate(0, 0);
	transition: ease-out 3s 1.5s;
}

.section.visible {
	opacity:1;
	transform: translate(0, 0);
}


.placeholder-img {
	width: 255px;
	height: auto;
}

.icon {
	width: 35px;
	height: auto;
}

.header {


}


.container-fluid {

}

.about {
 border: 2px dotted red;
}

.portfolio {
	border: 1.5px solid yellow;
}

.contact {
	border: 2px dotted deeppink;
}


@media (max-width: 768px) {
	.navbar-collapse.bottom {
		position: absolute;
		bottom: 60px;
		left: 0;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
		width: 100%;
	}
	.navbar-collapse.collapsing.bottom {
		height: auto;
		-webkit-transition: bottom 0.1s ease-out;
		-o-transition: bottom 0.1s ease-out;
		-moz-transition: bottom 0.1s ease-out;
		transition: bottom 0.1s ease-out;
		bottom: -50%;
	}
	.navbar-collapse.show.bottom {
		bottom: 10;
		-webkit-transition: bottom 0.1s ease-out;
		-o-transition: bottom 0.1s ease-out;
		-moz-transition: bottom 0.1s ease-out;
		transition: bottom 0.1s ease-out;
	}

	.header {
		margin-bottom: -60px !important;
	}

}

@media (min-width: 768px) {
	.nav-item.bottom-nav {
		color: #303030 !important;
	}
	a.nav-link.bottom-nav:hover {
		color: #919191 !important;
	}
}